.card img:hover{
    cursor: pointer;
}

.title{
    color:blueviolet;
    text-align: center;
}

.image:hover{
    cursor: pointer;
}

.inputfield{
    position:relative;
    left:100px;
    width: 70px;
}

.table_top{
   border:1px solid rgb(212, 212, 215);
}

td{
    color:blue;
}
th{
    color:green;
}

table{
    background-color: white;
    border-radius: 10px;
}

.orders{
    padding:10px;
    border-radius: 10px;
    /*background-color: rgb(235, 250, 206);*/
    background-color: rgb(235, 230, 247);
}

.search{
    margin:2px;
    background-color: rgb(235, 230, 247);
    padding:14px;
}

.order{
    padding:14px;
    background-color: rgb(237, 239, 240);
}

.views{
    padding:14px;
    background-color:rgb(196, 255, 236);
    border-radius: 5px;
}