.card img:hover{
    transform: scale(0.9);
    cursor: pointer;
}

.card img{
    transition:all 2s ease-in-out;
}

.title{
    color:green;
    text-align: center;
}

.image{
    transition:all 2s ease-in-out;
}

.image:hover{
    transform: scale(0.9);
    cursor: pointer;
}

.inputfield{
    position:relative;
    left:100px;
    width: 70px;
}
